
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
:root{
  --myfont:'Bree Serif', serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;

}
body {
  width: 100%;
  background-image:url("images\ \(1\).jpg");
  background-size: 5000px ;
}
#navbar h1 {
  
  font-size: 35px;
  text-shadow: 1px 1px 10px black;
  margin: 10px;
  color: #f1fcff;
  font-family: 'Bree Serif', serif;
}
#navbar p {
  font-size: 17px;
  text-shadow: 1px 1px 15px black;
  font-weight: bold;
  margin: 10px;
  color: #f1fcff;
  font-family: 'Bree Serif', serif;
  letter-spacing: 1px;
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0px 0px 50px 50px;
  border-bottom: thick double black;
  background-image: radial-gradient(circle at 30% 86%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 40% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 7% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 69% 76%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 2% 35%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 14% 48%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 28% 87%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 65% 14%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 51% 36%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 6% 93%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(23, 233, 173),rgb(29, 24, 208));
}
#navbar img {
  width: 150px;
  /* margin: 10px; */
}
.main{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1180px;
}
.main p{
  display: none;
}
.box1{
  width: 50%;
}
.box1 h2{
  color:rgb(82, 84, 228);
  text-shadow: 1px 1px 2px black;
}
.box1 h2:hover{
  color: blue;
}
.txt{
  margin: 20px 30px;
}
.box1 textarea{
  width: 500px;
  height: 270px;
  padding: 10px;
  outline: none;
  overflow: auto;
  resize: none;
  background: none;
  border: thick double black;
  border-radius: 10px;
  /* transition: 0.5s; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: -2;
}
/* .box1 textarea:hover{
  transform: translateY(-20px);
} */
.box2{
  width: 50%;
  margin: 20px 30px;
}
.box2 h2{
  text-align: center;
  margin-bottom: 8px;
  color: rgb(255, 94, 0);
  text-shadow: 1px 1px 2px black;

}
.box2 iframe{
  width: 100%;
  height: 930px;
  border: 1mm ridge black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.reset{
  display: block;
  margin: 0px 27%;
  background:linear-gradient(to right,rgb(64, 64, 173),rgb(69, 145, 175));
  color: white;
  padding: 5px 5px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.reset:hover{
background: red;
transform:translateY(-1px);
}
.footer{
 background-image: linear-gradient(45deg, rgb(33,33,33) 0%,transparent 73%),repeating-linear-gradient(90deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),repeating-linear-gradient(0deg, rgba(127, 127, 127,0.1) 0px, rgba(127, 127, 127,0.1) 1px,transparent 1px, transparent 17px),linear-gradient(0deg, rgb(33,33,33),rgb(33,33,33));;
}
.footer a{
  color: white;
  display: block;
  margin: 0 50px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 170px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: rgb(255, 4, 192);
}
.fa-instagram {
  background: none;
  color: rgb(180, 34, 194);
}
.footer p{
  text-align: center;
  font-size: 18px;
  color: white;
  padding-bottom: 18px;
}
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px 0 0 ;
  border-top: thick double black;
  background-image: radial-gradient(circle at 30% 86%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 40% 75%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 7% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 69% 76%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 2% 35%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 14% 48%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 28% 87%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 65% 14%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 51% 36%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 6% 93%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(23, 233, 173),rgb(29, 24, 208));
  ;
  font-family: var(--myfont);
}
.projects h2{
  margin: 20px;
  font-size: 25px;
  /* text-shadow: 1px 1px 5px black; */
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: underline;
}
.pro-box{
  margin: 15px 0px;
}
.pro-box details{
  cursor: pointer;
}
.pro-box details:hover{
  color: white;
}
.pro-box details a{
  color: white;
}
@media only screen and (max-width: 1020px) {
  .main{
    flex-direction: column;
    height: auto;
  }
  #navbar{
  border-radius: 0px 0px 20px 20px ;
  }
  .projects{
      border-radius: 20px 20px 0px 0px ;
      
  }
  .reset{
    margin: auto;
  }
  .box1{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
  .box1 h2{
    text-align: center;
    margin-left: 0px;
    margin-bottom: 8px;
    color: rgb(0, 136, 247);
    text-shadow: 1px 1px 2px blue;
  }
  .box1 textarea{
    width: 250px;
    margin: 0px;
  }
  .box2 {
      width: auto;
   }
  .box2 iframe{
    width: 70vw;
    height: 300px;
    margin: auto;
    display: block;
  }
}
@media only screen and (max-width: 430px) {
  ::placeholder {
    font-size: 12px;
  }
  #navbar h1 {
    font-size: 25px;
    margin: 6px;
  }
  #navbar img {
    width: 103px;
  }
  #navbar p {
    display: none;
  }
  .main p{
    display: block;
    text-align: center;
    margin: 10px;
    color: #ff2f00;
  }
  .reset{
    margin: auto;
  }
  .footer p{
    font-size: 12px;
  }
  .projects{
    padding: 15px;
  }
}